
body{
  display: flex;
  min-width: 380px;
  min-height: 100vh;
  margin: 2px;
}
#root{
  max-width: 700px;
  margin: 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mem-logo{
  border: 1px solid darkblue;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 10px darkblue;
  margin: 10px;
}
h2{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border: 1px solid black;
  width: fit-content;
  padding: 20px;
  border-radius: 20% 0% / 20% 0%;
  box-shadow: 1px 1px 10px black;
  font-size: 1.8rem;
  margin: 15px;
}
.points{
  border: 1px solid black;
  text-align: left;
  padding-left: 20px;
  font-family:'Courier New', Courier, monospace;
  color: darkblue;
  font-weight: 800;
  font-size: 1.5rem;
  width: fit-content;
  padding: 6px;
  padding-left: 10px;
  padding-right: 20px;
  margin-left: 20px;
  border: 1px solid blue;
  box-shadow: 1px 1px 10px black;
  border-radius: 20px 0px 20px 0px;
}
.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5px;
  width: max-content;
  height: auto;
  border: 1px solid black;
  box-shadow: 1px 1px 5px black;
  margin: 8px;
}
img{
  background-position: center;
  background-size: cover;
  object-fit:cover;
  border: 1px solid rgb(39, 9, 231);
  border-radius: 10px;
  max-width: 300px;
  height: auto;
}
.title{
  font-weight: 600;
  color: red;
  font-size: 0.8rem;text-wrap: wrap;
}
.error{
  position: absolute;
  color: red;
  width: fit-content;
  text-align: center;
  z-index: 1;
  font-size: 1.6rem;
  transform: translateY(120px);
}
.item{
  background-color: #fafaf7;
  justify-self: center;
  display: flex;
  padding: 5px;
  margin: 5px;
  width: fit-content;
  flex-direction: column;
  justify-content:space-between;
  align-items: center;
}
.name{
  font-size: 1.1rem;
  font-weight: 600;
  background-color: rgb(250, 231, 209);
  width: fit-content;
  border: 1px solid black;
  padding: 3px;
  margin: 5px;
  border-radius: 10px 0px 10px 0px;
  box-shadow: 1px 1px 8px black;
}